@media screen and (max-device-width: 1195px) {   
    .barButton {
        display: flex !important;        
    }

    .navBar {
        display: none; 
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
    background-size: cover;
}

a {
    text-decoration: none!important;
    cursor: pointer; 
}

a:hover {
    color: rgb(102, 102, 102) !important;
}

input {
    border: none;    
}


h2 {
    text-transform: uppercase;
}

span {
    color: rgb(142, 104, 6);
}
/* Секции */

.header {  
    padding-top: 10px;
       
    color: rgb(102, 102, 102);

    background-color:  rgb(242, 242, 242);
}

.header a {
    color: rgb(102, 102, 102);
}

.bar {
    padding-top: 25px;
    padding-bottom: 25px;

    font-size: large;
    text-transform: uppercase;
    color: rgb(102, 102, 102);
}

.barButton{
    display: none;
}

.slider {
    padding-top: 150px;
    padding-bottom: 150px;

    color: white;
    background-image: url(files/3slider/BG.png)
}

.slider a {
    color: white;
}

.numberSection {
    padding-top: 45px;
    padding-bottom: 45px;

    color: rgb(51, 51, 51);

    background-image: url(files/4number/BG.png);
}

a.numberLink {
    font-size: large;
    color: white;
    background-color: rgb(234, 226, 41, 0.5);
    border: 2px solid rgb(234, 226, 41 0.1);
}

.why {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ourServices {
    padding-top: 50px;
    padding-bottom: 50px;

    color: white;

    background-image: url(files/6ourServices/BG.png);
}

.BG1 {      
    border: 3px solid rgb(1, 62, 153);
}

.BG1:hover {
    background-color: rgb(1, 62, 153);
}

.ourProjects {
    padding-top: 80px;
    padding-bottom: 80px;    
}

.ourProjects a {
    font-size: large;
    text-transform: uppercase;

    color: rgb(102, 102, 102);
}

.router {
    background-image: url(files/7ourProjects/router.png);
    background-size: cover;
    background-position: 50% 50%;
}

.teddy {
    background-image: url(files/7ourProjects/teddy.png);
    background-size: cover;
    background-position: 50% 50%;
}

.teddy a, .router a {
    height: 260px;

    background-color: rgba(1,62,153,0.4);;
    border: none;
    
    opacity: 0;
} 

.teddy a:hover, .router a:hover {
    color: white !important;
    text-transform: none;

    opacity: 1;
}

.problems {
    padding-top: 150px;
    padding-bottom: 150px;

    text-transform: uppercase;
    color: white;

    background-image: url(files/8problems/BG.png);
}

iframe {
    max-width: 100%; 
    height: 300px;

    border: 0;
}

.form {
    padding-top: 180px;
    padding-bottom: 95px;

    background-image: url(files/9form/BG.png);
}

.errLabel {
    display: none;
}

.sponsors {
    padding-top: 55px;
    padding-bottom: 55px;
}

.contacts {
    padding-top: 100px;
    padding-bottom: 100px;

    color: rgb(102, 102, 102);

    background-color: rgb(26, 26, 26);
}
.contacts a {
    color: rgb(102, 102, 102);
}

.contacts h2 {
    color: white;
}

.footer {
    padding-top: 10px;

    color: rgb(102, 102, 102);

    background-color: rgb(13, 13, 13);
}